version: '3.9' # Use this version of the compose syntax.

services:
  app:
    build: 
      context: .
      # Overwrite the dev arg to true for this compose file.
      args:
        - DEV=true
    # Link the local port 8000 to container port 8000.
    ports:
      - "8000:8000"
    # Map the app directory into the app container directory.
    # Syncs project code to container code.
    volumes:
      - ./app:/app
    # Start the django server inside the container.
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
    depends_on:
      - db


  db:
    image: postgres:alpine3.16
    # Specify a persistent data location in the container.
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    # Set environment variables for default database credentials.
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme

# Define volumes available for use by services.
volumes:
  dev-db-data: